x86_64-slc5-gcc43-opt
x86_64-slc6-gcc46-opt
i386_linux26
setup.sh
setup.csh
Makefile
cleanup*sh
setup*sh
install.history
*.log
log
*.log*
*.tgz
*#
*~
CVS
.cvsignore
*swp
InstallArea
*rootcint*
install.*.history

